* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
}

.navbar-links li a:hover {
    color: #fcba03;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.icon-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

section#home {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.insta-home {
    height: 8em;
}

a.instagram {
    align-self: baseline;
    background-color: #fcba03;
    border-radius: 3em;
}

a.instagram:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.home-img {
    max-width: 100%;
    height: auto;
    margin-left: 2em;
    align-self: flex-end;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 8em;
}

.home-title {
    text-align: center;
    font-size: 4em;
    margin: 0;
    align-self: center;
}

.become-title {
    font-size: 2em;
}

.you-title {
    font-size: 4em;
    text-shadow: 2px 2px 4px #fcba03;
}

.best-title {
    font-size: 3em;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
    padding: 2em 10%;
    background-color: black;
    color: white;
    border-top: 5px solid #fcba03;
    width: 100%;
}

.grid__item {
    height: 12em;
    position: relative;
    padding: 10px;
    text-align: center;
    border: inset;
    border-radius: 2em;
    box-shadow: 0 0 8px 4px #fcba03;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: navajowhite;
    color: black;
}

.grid__item:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.grid a {
    text-decoration: none;
}

.grid-img {
    height: 6em;
}


/* Media query for mobile */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        flex-direction: column;
    }

    .navbar-toggle {
        display: block;
    }
}

@media (max-width: 768px) {
    .home-img {
        max-height: 30vh;
        margin: 0;
    }

    .home-title {
        font-size: 2em;
        margin: 0;
    }
}